node_modules
build
coverage
.vscode
.DS_STORE
.env
tmp
*.xml
.idea

public/product
public/product_description_document
public/gallery
public/posts
public/video-thumbnails
public/profile-picture
pm2.config.js
app/RecycleBin
docker-compose.yml
